fastapi
uvicorn
gunicorn
python-multipart
ultralytics
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
pillow
opencv-python-headless
numpy